/* SUMARIO */
/* 1 - cabecalho */
/* 2 - slider */
/* 3 - cards */
/* 4 - card individual */

@media (max-width: 620px) {
    /*===CABECALHO===*/
    .header {
        flex-direction: column;
    }
    .header .title {
        font-size: 30px;
        text-align: center;
    }
    .header .logo {
        width: 60px;
        height: auto;
    }


    /*===SLIDER===*/
    .slider {
        padding: 0 15px;
        gap: 10px;
    }
    .btn-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 30px;
    }


    /*===CARDS===*/
    .cards {
        height: 480px;
    }

    /*===CARD INDIVIDUAL===*/
    /*---CARD: INTRO---*/
    .single-card .intro .name {
        max-width: 50%;
        font-size: 18px;
    }
    /*---CARD: IMG---*/
    .single-card .img {
        max-height: 260px;
    }
    .single-card .year {
        font-size: 14px;
    }
    /*---CARD: INFO---*/
    .single-card .info {
        max-height: px;
    }
}