/* GERAL */
    * { margin: 0; padding: 0; font-family: 'Poppins', sans-serif; color: white; }

    html { height: 100%; scroll-behavior: smooth; }

    body { min-height: 100%; background-color: black; }

    main { min-height: 100vh; margin-top: 40px; }

    h2, h3, h5 { font-weight: bold; }

    h6 { font-weight: bold; font-style: italic;}

    a { color: white; text-decoration: none; }

    a:hover { color: white; }
/* GERAL */

/* NAVBAR */
    header { background-color: rgb(105, 00, 0); }

    nav { width: 100%; background-color: rgb(105, 00, 0); }

    img.navbar-brand { margin-right: 25px; }
/* NAVBAR */

/* LANÇAMENTOS */
    .lancamentos { background-color: rgb(105, 00, 0); }

    div.row { margin-bottom: 35px; }

    .lancamentos h3 { margin-top: 15px;}

    .carousel-indicators { top: 95%; }
/* LANÇAMENTOS */

/* DESTAQUES */
    .card { background-color: rgb(105, 00, 0); }

    p.card-text { align-items: center; text-align: center; }
/* DESTAQUES */

/* ENTREVISTAS */
    .entrevistas { background-color: rgb(105, 00, 0); }
/* ENTREVISTAS */

/* AVALIAÇÕES */
    .img-circle { border-radius: 50%; }
/* AVALIAÇÕES */

/* NOVIDADES */
    .badge-pill { color:white; background-color: rgb(105, 00, 0); }

    .novidades h5 { margin-top: 15px;}
/* NOVIDADES */

/* RODAPÉ */
    footer { margin-top: auto; position: relative; bottom: 0; margin-top: 40px; background-color: rgb(105, 00, 0); }

    .footertext { margin-top: 15px; align-self: center; color: white; }
/* RODAPÉ */

/* RESPONSIVIDADE */
    @media screen and (max-width: 800px) {
        .card {
            margin-bottom: 15px;
        }
    }
/* RESPONSIVIDADE */